@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Font Class */

.space-grotesk-unique {
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0 200px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media screen and (max-width:480px) {
  body {
    margin: 0;
  }
}